.board {
    display: grid;
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
}

.board__cell {
    border: 1px solid black;
}

.board__cell--dead {
    background-color: white;
}

.board__cell--alive {
    background-color: blue;
}
